body {
    margin: 0px;
    padding: 0px;
    background: url(https://static1.bigstockphoto.com/7/9/3/large1500/397142663.jpg);
    color: rgb(252, 247, 247);
}

.left {
    display: inline-block;
    /* position: absolute;
   left: 34px;
   top: 20px */
}

.mid {
    display: block;
    width: 45%;
    margin: auto;
    position: absolute;
    right: 16%;
    top: 2px;
}

.right {
    display: inline-block;
    position: absolute;
    right: 32px;
    top: 18px;
}

.menu li {
    list-style: none;
    float: left;
    margin: 2px 20px;
    padding-top: 2px;
    font-weight: bold;
}

.left img {
    width: 85px;
    margin: 10px 30px;
    border-radius: 56px;
}

.menu li a {
    color: rgb(255, 249, 249);
    text-decoration: none;
    font-size: 20px;
}

.menu li a:hover {
    cursor: pointer;
    color: rgb(148, 175, 213);

}

.menu li a.active {
    border-radius: 54px;
    background-color: rgb(3, 3, 3);
}

button {
    width: 50px 70px;
    background-color: black;
    border-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 9px;
    font-size: 17px;

}

button:hover {
    color: gray;
}

.form {
    border: 2px solid white;
    display: block;
    margin: 20px 50px;
    padding: 14px 40px;
    width: fit-content;
    border-radius: 12px;
    background-color: black;
}

.form form input {
    border: 4px solid black;
    height: 25px;
    width: 200px;
    border-radius: 11px;
}

.btn {
    width: 90px;
    background-color: black;
    border-color: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    border-radius: 9px;
    font-size: 17px;
    padding: 5px;
    margin: 7px;
}

@media (max-width:913px) {
    .mid {
        display: block;
        width: 100%;
        margin: auto;
        position: absolute;
        right: -1%;
        top: 78px;
    }

}

@media (max-width:400px) {
    .menu li {
        list-style: none;
        float: left;
        margin: 2px 8px;
        padding-top: 2px;
        font-weight: bold;
    }
}